<p>
  register works!
</p>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
  <div *ngFor="let a of categories">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" (click)="allSousCategories(a.id)">
          <a data-toggle="collapse" data-parent="#accordian">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            {{a.name}}
          </a>
        </h4>
      </div>
      <div  class="panel-collapse collapse" >
        <!--id="sportswear"-->
        <div *ngFor="let b of souscategories" >
          <div class="panel-body">
            <ul>
              <li><a href="#">{{b.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!--/category-products-->
<!--<div  class="main-menu collapse navbar-collapse">-->
  <!--<ul class="nav navbar-nav" *ngFor="let a of categories">-->
    <!--<li class="menu-item-has-children dropdown">-->
      <!--<a (click)="allSousCategories(a.id)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>{{a.name}}</a>-->
      <!--<ul class="sub-menu children dropdown-menu" *ngFor="let b of souscategories">-->
        <!--<li><i class="fa fa-table"></i><a href="tables-basic.html">{{b.name}}</a></li>-->

      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
